html,body{
	width: 100%;
	height: 100%;
	margin: 0 0;
	position: relative;
}
canvas{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
div#login_content{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
/*Moviles*/
@media (min-width: 200px) and (max-width: 700px) { 
	div#login_content > div#form-login{
		position: relative;
		width: 90%;
		margin: 5% auto;
	}
	div#login_content > div#form-login > div#logo{
		width: 100%;
		position: relative;
		margin-top: 7%;
	}
	div#login_content > div#form-login > div#logo > img{
		width: 50%;
		margin: auto;
		display: block;
	}
	div#campos_login{
		width: 90%;
		margin: 5% auto;
		position: relative;
		display: block;
		background-color: rgba(142,170,255,0.5);
		padding: 5% 0%;
		border-radius: 1rem;
	}
	div.input-login{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-buttons{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-success{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
	div.input-remmember{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
}
/* Tablets */
@media (min-width: 701px) and (max-width: 1024px) { 
	div#login_content > div#form-login{
		position: relative;
		width: 60%;
		margin: 5% auto;
	}
	div#login_content > div#form-login > div#logo{
		width: 100%;
		position: relative;
		margin-top: 7%;
	}
	div#login_content > div#form-login > div#logo > img{
		width: 40%;
		margin: auto;
		display: block;
	}
	div#campos_login{
		width: 60%;
		margin: 5% auto;
		position: relative;
		display: block;
		background-color: rgba(142,170,255,0.5);
		padding: 5% 0%;
		border-radius: 1rem;
	}
	div.input-login{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-buttons{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-success{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
	div.input-remmember{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
}
/* PCs */
@media (min-width: 1025px) and (max-width: 3000px) { 
	div#login_content > div#form-login{
		position: relative;
		width: 60%;
		margin: 5% auto;
	}
	div#login_content > div#form-login > div#logo{
		width: 100%;
		position: relative;
		margin-top: 7%;
	}
	div#login_content > div#form-login > div#logo > img{
		width: 17%;
		margin: auto;
		display: block;
	}
	div#campos_login{
		width: 37%;
		margin: 3% auto;
		position: relative;
		display: block;
		background-color: rgba(142,170,255,0.5);
		padding: 2% 0%;
		border-radius: 1rem;
	}
	div.input-login{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-buttons{
		width: 80%;
		margin: 5% auto;
		display: block;
	}
	div.input-success{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
	div.input-remmember{
		width: 100%;
		margin: 5% auto;
		display: block;
	}
}